body { font-family: sans-serif; background: #1a1a1a; color: white; text-align: center; margin: 0; padding: 10px; }
#header { background: #333; padding: 10px; border-bottom: 3px solid #e3350d; position: sticky; top: 0; z-index: 10; }
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 columnas en PC */
    gap: 5px;
    max-width: 1000px;
    margin: 15px auto;
}
.card {
    background: white; border-radius: 5px; padding: 5px; cursor: pointer;
    transition: transform 0.2s; position: relative;
}
.card img { width: 100%; display: block; filter: drop-shadow(2px 2px 2px #ccc); }
.card p { color: #333; font-size: 9px; margin: 3px 0 0; font-weight: bold; overflow: hidden; }

/* Estados táctiles */
.card.secreto { border: 4px solid #4CAF50; background: #dff0d8; transform: scale(1.05); }
.card.marcado { opacity: 0.2; filter: grayscale(100%); }

@media (max-width: 768px) {
    .grid-container { grid-template-columns: repeat(5, 1fr); } /* 5 columnas en móvil */
}
